* {

    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;

}

header > h1 {

    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

}

.chicken-title-card {

    background-color: #f67676;
    font-weight: bold;
    width: 30%;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-top: auto;

}

.beef-title-card {

    background-color: #e14242;
    color: white;
    font-weight: bold;
    width: 30%;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-top: auto;

}

.sushi-title-card {

    background-color: #e8d860;
    font-weight: bold;
    width: 30%;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-top: auto;

}

.card-content {
    padding: 10px;
}

.chicken, .beef, .sushi {
    background-color: darkgrey;
}

section {
    position: relative;
    margin: 15px;
    border: 1px solid black;
}

/* Simulation of a row */
.row {
    width: 100%;
}

/********** Large screens (DESKTOP) **********/
@media (min-width: 992px) {

    .col-lg {

        float: left;
        width: 33.33%;
    }

}

/********** Medium screens (TABLETS) **********/
@media (min-width: 768px) and (max-width: 991px) {

    .col-md-6, .col-md-12 {
        float: left;
        margin: auto;
    }

    .col-md-6 {

        width: 50%;

    }

    .col-md-12 {

        width: 100%;

    }

}

@media (max-width: 767px) {

    .col-sm {

        float: left;
        width: 100%;

    }

}
